@model IEnumerable<JassWeather.Models.JassUserInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JassUserInfoUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JassVariableGroup.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JassLatLonGroup.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JassUserInfoUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JassVariableGroup.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JassLatLonGroup.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JassUserInfoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.JassUserInfoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JassUserInfoID })
        </td>
    </tr>
}

</table>
