@model JassWeather.Models.JassVariableGroupRel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>JassVariableGroupRel</legend>

        @Html.HiddenFor(model => model.JassVariableGroupRelID)

        <div class="editor-label">
            @Html.LabelFor(model => model.JassVariableGroupID, "JassVariableGroup")
        </div>
        <div class="editor-field">
            @Html.DropDownList("JassVariableGroupID", String.Empty)
            @Html.ValidationMessageFor(model => model.JassVariableGroupID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JassVariableID, "JassVariable")
        </div>
        <div class="editor-field">
            @Html.DropDownList("JassVariableID", String.Empty)
            @Html.ValidationMessageFor(model => model.JassVariableID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
